* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  background: rgb(192, 188, 188);
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-1 {
  grid-column: 1/3;
}

.header {
  width: 100%;
  height: 190px;
}

.navbar {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  height: 190px;
  background-color: #777;
}

.links li {
  font-size: 20px;
  padding-bottom: 20px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 9;
}

.bottom-ul li {
  display: inline-block;
  margin: 10px;
}

.navbar ul li {
  list-style: none;
  width: 20%;
  margin: 0 10px;
  text-align: center;
  background-color: #555;
  font-family: "Nunito", sans-serif;
}

.navbar ul li p {
  font-family: serif;
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
}

.logo {
  flex: 1;
  background-color: #555;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.nav-btn {
  flex: 1;
  font-family: "Nunito", sans-serif;
  padding: 15px 19px;
  margin: 0 auto;
  border-radius: 11px;
  border: #fff 3px solid;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(87, 87, 87);
  color: #fff;
}

.heading-1 {
  position: absolute;
  background-color: transparent;
  top: 250px;
  left: 35%;
  right: 35%;
  text-align: center;
  z-index: 1;
}

.heading-1 h1 {
  background-color: white;
  display: inline-block;
  padding: 12px;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: black;
}

.item-2,
.item-3,
.item-4,
.item-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.item-2,
.item-3 {
  height: 713px;
}

.item-4,
.item-5 {
  height: 514px;
}

.item-3 {
  background-color: #666;
}

.item-2,
.item-5 {
  background-color: #555;
}

.item-4 {
  background-color: #444;
}


/* styles for Top article  */

.top-article {
  margin: 0;
  padding: 20px 40px 20px 50px;
  text-align: left;
}

.top-article__author {
  display: flex;
  margin-bottom: 10px;
}

.top-article__author-name {
  display: block;
  margin-top: 10px;
  font-size: 19px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.article__heading--big {
  font-size: 41px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.item-6 {
  grid-column: 1/3;
  display: flex;
}

.item-7 {
  grid-column: 1/3;
  display: flex;
}

.item7-1 {
  flex: 2.5;
  background-color: #444;
  border-radius: 15px;
  text-align: center;
}

.item7-1 > span {
  display: block;
  padding-top: 20px;
}

.paragraph-text {
  font-family: 'Slabo 27px', serif;
  font-size: 19.2272px;
  line-height: 31.3244px;
  word-break: break-word;
  letter-spacing: 0.3px;
}

.item7-1 > .paragraph-text {
  padding: 30px 70px;
}

.item-8 {
  grid-column: 1/3;
  display: flex;
}

.item-9 {
  grid-column: 1/3;
  height: 644px;
  background-color: #444;
  text-align: center;
  border-radius: 15px;
}

.item9-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.item-9 > .paragraph-text {
  padding: 30px 70px;
}

.item-10 {
  grid-column: 1/3;
  height: 1000px;
}

.item10-head {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.item10 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  margin: 0 auto;
  background-color: #444;
}

.item10-image {
  width: 80%;
  height: 200px;
  background-color: grey;
}

.item-11 {
  grid-column: 1/3;
  height: 300px;
  display: flex;
}

.item11-heading {
  width: 75%;
  padding-top: 50px;
}

.item11-heading > .paragraph-text {
  font-size: 18px;
  padding-top: 20px;
}

.item11-heading > h2 {
  font-weight: 100;
}

.item-12,
.item-13,
.item-14,
.item-15,
.item-16,
.item-17 {
  display: flex;
  background-color: #555;
}

.item-18 {
  grid-column: 1/3;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.item-19 {
  grid-column: 1/3;
  height: 400px;
  display: flex;
  background-color: #444;
}

.item19-img {
  width: 250px;
  height: 350px;
  transform: rotateZ(-15deg);
  bottom: 70px;
  position: relative;
  background-color: grey;
  margin-left: 100px;
}

.item19-heading {
  margin-top: 50px;
  width: 60%;
  margin-left: 50px;
}

.item19-heading > .paragraph-text {
  padding: 20px 0;
}

.item19-btn {
  height: 30px;
  width: 200px;
  background-color: grey;
}

.item-20 {
  grid-column: 1/3;
  display: flex;
}

.item-20 div {
  height: 618px;
  flex: 1;
}

.item-22 {
  height: 800px;
  grid-column: 1/3;
  display: flex;
}

.item22-checklist {
  flex: 2;
}

.item22-smashing {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #444;
  text-align: center;
  border-radius: 15px;
  justify-content: space-around;
}

.item22-img {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  background-color: grey;
}

.item-23 {
  grid-column: 1/3;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.item-24 {
  grid-column: 1/3;
  height: 642px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #444;
  justify-content: center;
}

.item-24 div {
  flex: 1;
}

.item24-top > h4 {
  margin: 40px 0 20px 0;
}

.item24-top ul {
  margin: 20px 50px;
}

.item24-top ul li::before {
  content: " . ";
  height: 10px;
  width: 50px;
  line-height: 50px;
  font-size: 40px;
  position: relative;
  bottom: 2px;
}

.item24-paragraph {
  font-style: italic;
  padding-bottom: 10px;
}

.item24-top ul li {
  display: inline-block;

  /* margin: 10px; */
  justify-content: center;
  font-size: 24px;
  font-family: 'Slabo 27px', serif;
}

.item24-bottom {
  display: flex;
}

.item24-bottom div {
  flex: 1;
}

/* style user-photo */

.user-photo {
  height: 70px;
  width: 70px;
  background-color: gray;
  transform: rotateZ(-15deg);
  margin: 50px auto;
  border-radius: 6px;
}

.user-photo--big {
  width: 200px;
  height: 200px;
  margin-top: 60px;
}

.user-photo--small {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}

.user-photo--round {
  border-radius: 50%;
  background: grey;
  height: 200px;
  width: 200px;
}


/* style for articles */

.article {
  flex: 1;
  height: 634px;
  padding: 30px 40px;
  position: relative;
  overflow: hidden;
}

.article__heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 23px;
  text-decoration: underline;
}

.bottom-article {
  width: 80%;
  padding: 20px 30px 0 0;
  height: 425px;
}

.bottom-article > .article__heading {
  padding: 0 0 20px 0;
  font-size: 30px;
  text-decoration: none;
}

.article__date {
  display: block;
  font-family: 'Slabo 27px', serif;
  font-size: 15.75px;
  font-variant: small-caps;
  letter-spacing: 1px;
  line-height: 18px;
  margin-bottom: 7.8px;
}

.article__author {
  font-family: 'Nunito', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15.75px;
  font-weight: 700;
  line-height: 18px;
  padding: 25px 0 20px 0;
  display: block;
}

/* style for arrow */
.arrow {
  font-size: 30px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 4em;
  height: 4em;
  line-height: 4em;
  text-align: center;
}

/* styles for buttons */
.btn {
  font-family: "Nunito", sans-serif;
  padding: 15px 19px;
  margin: 0 auto;
  border-radius: 11px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  background-color: #fff;
  color: black;
}

/* Style for the links */

.links {
  margin: 40px;
}

.item20-links > .article__heading {
  text-decoration: none;
  padding-top: 10px;
}

.item20-links {
  margin: 40px;
}
